body {
    background: #000000;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.3rem;
}

h4 {
    color: #EA1c2c;
    font-weight: 100;
    font-size: 1rem;
}

.blurb h2 {
    color: #EA1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #ffffff;
    font-weight: 150;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #EA1c2c;
    font-weight: 400;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1c2c;
}

#headingGroup span {
    color: #EA1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 2.5rem;
}

#headingGroup h3 {
    font-weight: 100;
    font-size: 2rem;
}

.navbar.scrolled {
    background: rgb(133, 130, 133);
    transition: background 550ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }

    #headingGroup h3 {
        font-weight: 100;
        font-size: 1.5rem;
    }

}

